*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}
a {
  text-decoration: none;
}
header {
  border: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav-links {
  display: flex;
  margin-left: 93px;
}

.nav-links a {
  position: relative;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  cursor: pointer;
}
.nav-links a::after {
  position: absolute;
  top: 44px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
}
.nav-links a:active::after {
  opacity: 1;
}
#portfolio-studio a {
  color: #2196f3;
}
#portfolio-studio a::after {
  color: #2196f3;
  opacity: 1;
}
.nav-links > li {
  margin-right: 50px;
}
.nav-links :last-child {
  margin-right: 0px;
}
.nav-contacts {
  display: flex;
  margin-left: auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-contacts :not(:first-child) {
  margin-left: 50px;
}
/*контакты хедер*/
.nav-contacts a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  display: inline-flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}
.envelope {
  display: inline-flex;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
}

.nav-contacts :hover {
  fill: #2196f3;
  color: #2196f3;
}
.nav-links :hover {
  color: #2196f3;
}
.nav-contacts :focus {
  fill: #2196f3;
  color: #2196f3;
}
.nav-links :focus {
  color: #2196f3;
}
/*Эфективные решения и кнопка заказать услугу*/
main {
  margin: auto;
  font-family: "Roboto", sans-serif;
}
.efective-solution {
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img1.jpg);
  max-width: 1600px;
  justify-content: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-bottom: 200px;
}

.efective-solution > h1 {
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 30px;
  font-size: 44px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
  text-transform: uppercase;
}
.order-service {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  z-index: 2;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
}
.svg-close {
  width: 11px;
  height: 11px;
}
.modal-header {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin: 0;
  margin-bottom: 12px;
}
/*Форма модального окна*/
.form-modal {
  width: 100%;
  font-family: "Roboto" sans-serif;
  font-size: 12px;
  color: #212121;
}
.form-field {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.form-field input {
  padding: 11px 12px;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}
.form-field label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}
.comments {
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 448px;
  height: 120px;
}
.agreement {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}
.agreement label a {
  position: relative;
  color: #2196f3;
}
.agreement label a::after {
  position: absolute;
  top: 14px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2196f3;
}
.form-textarea::placeholder {
  background-color: rgba(117, 117, 117, 0.5);
  text-align: left;
}

.send {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
}
/*Чем мы занимаемся*/
.icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 70px;
  height: 70px;
}

.antena-icon {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
}
.container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.dignities {
  display: flex;
  justify-content: center;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.dignities > li {
  margin-right: 30px;
}
.dignities :last-child {
  margin-right: 0px;
}
.dignities p {
  text-align: left;
  width: 270px;
  color: #757575;
  line-height: 1.7;
  font-size: 14;
  margin-bottom: 0px;
}
.dignities span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

/*Our work*/
.our-work {
  justify-content: center;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 94px;
}
.head2 {
  text-align: center;
  font-size: 36px;
  margin-top: 0px;
  line-height: 1.16;
}
.studio-images img {
  width: 370px;
  height: 294px;
}
.studio-images {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.box1 {
  margin-right: 30px;
  height: 294px;
  position: relative;
  z-index: 1;
}
.box2 {
  margin-right: 30px;
  position: relative;
  height: 294px;
  z-index: 1;
}
.box3 {
  position: relative;
  height: 294px;
  z-index: 1;
}

.apps1,
.apps2,
.apps3 {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}
/*Our team */
.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  text-align: center;
  font-size: 36px;
  margin-block-start: 0px;
  margin-block-end: px;
}
.team-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-block-end: 0px;
}

.team-photo img {
  width: 270px;
  height: 260px;
}
.team-photo > li {
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-photo :nth-child(4) {
  margin-right: 0px;
}
.name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 0px;
}
.occupation {
  text-align: center;
  width: 270px;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.social-links {
  display: flex;
  box-sizing: border-box;
  width: 206px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
}

.link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.social-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-list:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}
.link-list :hover {
  background-color: #2196f3;
}
.social-icon :hover {
  fill: #ffffff;
}
.link-list :hover .social-icon {
  background-color: #2196f3;
  fill: #ffffff;
}
.link-list :focus {
  background-color: #2196f3;
}
.social-icon :focus {
  fill: #ffffff;
}
.link-list :focus .social-icon {
  background-color: #2196f3;
  fill: #ffffff;
}

/* Постоянные клиенты */
.clients {
  width: 1170px;
  margin: auto;
  padding-top: 134px;
  padding-bottom: 54px;
  align-items: center;
  justify-content: center;
}
.clients-tag {
  width: 1170px;
  display: inline-flex;
  margin: auto;
}
.clients-tag :not(:last-child) {
  margin-right: 30px;
}
.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 90px;
  border: solid 2px #afb1b8;
  border-radius: 3px;
  background-color: #ffffff;
}
.logo1 {
  width: 44px;
  height: 49px;
  fill: #afb1b8;
}
.logo2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
}
.logo3 {
  width: 41px;
  height: 42px;
  fill: #afb1b8;
}
.logo4 {
  width: 80px;
  height: 42px;
  fill: #afb1b8;
}
.logo5 {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
}
.logo6 {
  width: 88px;
  height: 45px;
  fill: #afb1b8;
}
.clients-tag a:hover {
  border-color: #2196f3;
}
.clients-tag .logo1 :hover,
.clients-tag .logo2 :hover,
.clients-tag .logo3 :hover,
.clients-tag .logo4 :hover,
.clients-tag .logo5 :hover,
.clients-tag .logo6 :hover {
  fill: #2196f3;
}

.clients-tag a:hover .logo1,
.clients-tag a:hover .logo2,
.clients-tag a:hover .logo3,
.clients-tag a:hover .logo4,
.clients-tag a:hover .logo5,
.clients-tag a:hover .logo6 {
  fill: #2196f3;
}
.clients-tag a:focus {
  border-color: #2196f3;
}
.clients-tag .logo1 :focus,
.clients-tag .logo2 :focus,
.clients-tag .logo3 :focus,
.clients-tag .logo4 :focus,
.clients-tag .logo5 :focus,
.clients-tag .logo6 :focus {
  fill: #2196f3;
}

.clients-tag a:focus .logo1,
.clients-tag a:focus .logo2,
.clients-tag a:focus .logo3,
.clients-tag a:focus .logo4,
.clients-tag a:focus .logo5,
.clients-tag a:focus .logo6 {
  fill: #2196f3;
}
/* footer*/
footer {
  background-color: #2f303a;
}
.footer-links {
  display: flex;
  padding-top: 60px;
  padding-bottom: 39px;
  width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.contacts {
  width: 231px;
}
.links-title {
  display: block;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14;
  margin-top: 0;
  margin-bottom: 20px;
}
.foot-contacts a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
}
.foot-contacts > li {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
}
.foot-contacts :not(:last-child) {
  padding-bottom: 9px;
}

.foot-contacts {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  font-size: 14px;
}
.footer-social-links {
  margin-left: 70px;
}
/*Иконки соц сетей футер*/
.our-social-links {
  display: flex;
  box-sizing: border-box;
  width: 206px;
  height: 44px;
  margin: auto;
}

.our-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.our-link-icon:not(:last-child) {
  margin-right: 10px;
}

.our-social-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
.our-link-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-link-icon :hover {
  background-color: #2196f3;
}
.our-link-icon :focus {
  background-color: #2196f3;
}

/*кнопки портфолио*/
.portfolio {
  width: 1170px;
  justify-content: center;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 50px;
}
.portfolio-buttons {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  display: flex;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-buttons :not(:last-child) {
  margin-right: 8px;
}

.b-all {
  width: 73px;
  height: 38px;
  color: #212121;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: #ffffff;
}
.b-web {
  width: 128px;
  height: 38px;
  color: #212121;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: #ffffff;
}
.b-app {
  width: 145px;
  height: 38px;
  color: #212121;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: #ffffff;
}
.b-disigne {
  width: 103px;
  height: 38px;
  color: #212121;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: #ffffff;
}
.b-mark {
  width: 130px;
  height: 38px;
  color: #212121;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: #ffffff;
}
/*эффект Ховер на кнопки*/

.portfolio-buttons :hover {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
}
.portfolio-buttons :focus {
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
}
/*potfolio photo*/
.container-portfolio {
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 94px;
}
.portfolio-photo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-block-start: 0px;
  width: 1170px;
}
.portfolio-photo :nth-child(3n + 3) {
  margin-right: 0px;
}
.portfolio-photo :nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.card-image {
  width: 370px;
  height: 294px;
  margin-bottom: 20px;
}
.portfolio-list {
  width: 370px;
  /* height: 404px;*/
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  margin-right: 30px;
}
.portfolio-links {
  display: block;
  width: 370px;
  height: auto;
  padding-bottom: 20px;
  /*height: 404px;*/
}
.portfolio-links:hover,
.portfolio-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card {
  width: 370px;
  height: 404px;
}
.link-description {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #212121;
}
.card-content {
  margin-left: 24px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.card-text {
  width: 100%;
  padding-top: 20px;
}

/*Всплывающие окна*/
.explanation::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.explanation {
  display: block;
  position: relative;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 63px;
  left: 24px;
  width: 322px;
  height: 168px;
  color: #ffffff;
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translateY(250px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links:hover .text {
  transform: translateY(0);
}
.portfolio-links:hover ::before {
  transform: translateY(0);
}
.portfolio-links:focus .text {
  transform: translateY(0);
}
.portfolio-links:focus ::before {
  transform: translateY(0);
}
